<!DOCTYPE html>
<html>
<head>
<title>AAR Steuerung</title>
    <style>
        .button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>
<h1>AAR Steuerung</h1>
<p>Welches Tier soll gesucht werden?</p>
<button class="button" onclick="window.location.href='http://192.168.43.58:5000/rescue/tiger'" id='tiger'>Tiger</button>
<button class="button" onclick="window.location.href='http://192.168.43.58:5000/rescue/cat'" id='cat'>Katze</button>
<button class="button" onclick="window.location.href='http://192.168.43.58:5000/rescue/star'" id='star'>Stern</button>
<button class="button" onclick="window.location.href='http://192.168.43.58:5000/rescue/frog'" id='frog'>Frosch</button>
<button class="button" onclick="window.location.href='http://192.168.43.58:5000/rescue/elephant'" id='elephant'>Elefant</button>
</body>
</html>
